<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8">
        <title>？？？の手芸サイト</title>
        <link href="../static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <h1>？？？先生の手芸サイト</h1>
        <h2>詳細一覧ページ</h2>
        <h3>各写真をクリックすると、その詳細が見れます。</h３>
            <ul>
                <ul>
                    <li>作品名：写真1</li>
                    <li><a href="./works-1.html"><img src = "../static/image/1.jpg"></a></li>
                    <li>作品詳細：作品詳細を記入予定</li>
                    <li>値段:？？？円</li>
                </ul>
                </br>
                <ul>
                    <li>作品名：写真2</li>
                    <li><a href="./works-2.html"><img src = "../static/image/2.jpg"></a></li>
                    <li>作品詳細：作品詳細を記入予定</li>
                    <li>値段:？？？円</li>
                </ul>
                </br>
                <ul>
                    <li>作品名：写真3</li>
                    <li><a href="./works-3.html"><img src = "../static/image/3.jpg"></a></li>
                    <li>作品詳細：作品詳細を記入予定</li>
                    <li>値段:？？？円</li>
                </ul>
                </br>
                <ul>
                    <li>作品名：写真4</li>
                    <li><a href="./works-4.html"><img src = "../static/image/4.jpg"></a></li>
                    <li>作品詳細：作品詳細を記入予定</li>
                    <li>値段:？？？円</li>
                </ul>
                </br>
                <ul>
                    <li>作品名：写真5</li>
                    <li><a href="./works-5.html"><img src = "../static/image/5.jpg"></a></li>
                    <li>作品詳細：作品詳細を記入予定</li>
                    <li>値段:？？？円</li>
                </ul>
            </ul>
            <h2><a href="../templates/works.html">作品写真ページに戻る</a></h2><!--作品写真ページに遷移-->
    </body>
</html>