<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8">
        <title>？？？の手芸サイト</title>
        <link href="../static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <h1>？？？先生の手芸サイト</h1>
        <h2>作品写真ページ</h2>
        <h3>各写真をクリックすると、その詳細が見れます。</h３>
        <!--写真をリスト化して表示し個別ページに遷移-->
        <ul>
            <ul><a href="./works-1.html"><img src = "../static/image/1.jpg"></a></ul>
            <ul><a href="./works-2.html"><img src = "../static/image/2.jpg"></a></ul>
            <ul><a href="./works-3.html"><img src = "../static/image/3.jpg"></a></ul>
            <ul><a href="./works-4.html"><img src = "../static/image/4.jpg"></a></ul>
            <ul><a href="./works-5.html"><img src = "../static/image/5.jpg"></a></ul>
        </ul>
        <h2><a href="./works-allDetails.html">詳細一覧</a></h2><!--詳細一覧ページに遷移-->
    </body>
</html>